# Sourced by xinitrc

# Set layout fr
setxkbmap fr

# Speed xrate up
xset r rate 250 30 & 

# Set wallpaper
xwallpaper --zoom ~/.config/wall.jpg

# xcompmgr for transparency
xcompmgr &

# Enable bluetooth
bluetoothctl power on
