# Sourced by .xinitrc or by graphical launchers

# Launch simple x hotkey daemon
sxhkd &

# Set layout fr
setxkbmap fr

# Speed xrate up
xset r rate 250 30 &

# Set wallpaper
setbg ~/.config/wall.jpg

# picom for transparency
picom &

# Enable bluetooth
bluetoothctl power on

# Notification daemon
dunst &
