# Sourced by xinitrc

# Set layout fr
setxkbmap fr

# Speed xrate up
xset r rate 250 30 & 

# Set wallpaper
setbg ~/.config/wall.jpg

# xcompmgr for transparency
xcompmgr &

# Enable bluetooth
bluetoothctl power on

# Notification daemon
dunst &
